
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li:hover{
  margin: 0px -20px 0px -20px;
}
a:hover{
  margin: -5px 0px -5px 0px;
}



/* html{
  height: 100vh;
  font-size: 14px;
} */

body{
font-family: "Sora", sans-serif;
font-optical-sizing: auto;
font-style: normal;
background-image: url(/images/background.jpg);
background-repeat: no-repeat;
background-size: cover;
height: 100%;
background: linear-gradient(to right, #474750, #121212); /* Gradiente escuro */
color: #e4e4e4; /* Texto claro para contraste */
}

